[submodule "TaggingGame-frontend"]
	path = TaggingGame-frontend
	url = https://github.com/sevleo/TaggingGame-frontend
[submodule "TaggingGame-backend"]
    path = TaggingGame-backend
    url = https://github.com/sevleo/TaggingGame-backend


# git submodule add https://github.com/sevleo/TaggingGame-frontend TaggingGame-frontend
# git submodule add https://github.com/sevleo/TaggingGame-backend TaggingGame-backend
# git submodule init
# git submodule update
# git submodule update --remote --merge TaggingGame-frontend
# git submodule update --remote --merge TaggingGame-backend