[submodule "Pawn-Arena-frontend"]
	path = Pawn-Arena-frontend
	url = https://github.com/sevleo/Pawn-Arena-frontend
[submodule "Pawn-Arena-backend"]
	path = Pawn-Arena-backend
	url = https://github.com/sevleo/Pawn-Arena-backend


# git submodule add https://github.com/sevleo/Pawn-Arena-frontend Pawn-Arena-frontend
# git submodule add https://github.com/sevleo/Pawn-Arena-backend Pawn-Arena-backend
# git submodule init
# git submodule update
# git submodule update --remote --merge Pawn-Arena-frontend
# git submodule update --remote --merge Pawn-Arena-backend